<% if diff.a_path != '.message' %>

<% path = diff.a_path %>
<% diff = diff.diff.split("\n") %>

<div class="compare">
  <div class="data highlight">
    <table>
      <tr><th colspan="3"><%= path %></th></tr>
      <% if diff.length > 2 %>
        <% diff[2..-1].each_with_index do |line, line_index| %>
        <tr>
          <td class="line_numbers"><%= left_diff_line_number(0, line) %></td>
          <td class="line_numbers"><%= right_diff_line_number(0, line) %></td>
          <td>
            <pre><div class="<%= line_class(line) %>"><%= line %></div></pre>
          </td>
        </tr>
        <% end %>
      <% else %>
      <tr>
        <td><pre><div><%= diff.first %></div></pre></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<% end %>
