<% if diff.a_path != '.message' %>

<h2><%= diff.a_path %></h2>

<div class="compare">
  <div class="data highlight">
    <table>
      <% diff.diff.split("\n")[2..-1].each_with_index do |line, line_index| %>
      <tr>
        <td class="line_numbers"><%= left_diff_line_number(0, line) %></td>
        <td class="line_numbers"><%= right_diff_line_number(0, line) %></td>
        <td>
          <pre><div class="<%= line_class(line) %>"><%= line %></div></pre>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<% end %>
